/* Survey.css */
.survey-container {
  margin: 10px auto;
  padding: 10px;
  max-width: 90%;
  border-radius: 8px;
  width: auto;
  align-items: flex-start;
}
.total-points {
  font-family: Arial;
  font-style: italic;
  font-size: 130px;
  font-weight: 800;
  color: #E1372C; 
}

.question-title{
  color: #000;
  font-family: Arial;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.question-details {
  display: flex;
  align-items: flex-start; /* oder ein anderer Wert, je nach Bedarf */
  gap: 10px;
  width: 100%;
}

.question-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* Aktualisierte Größe für den Kreis */
  height: 60px; /* Aktualisierte Größe für den Kreis */
  border-radius: 50%; /* Macht den Button kreisförmig */
  background-color: #000; /* Schwarzer Hintergrund */
  color: #FFF; /* Weiße Schrift */
  font-family: 'Arial';
  font-size: 30px; /* Angepasste Größe, abhängig von der tatsächlichen Button-Größe */
  font-weight: 400;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: normal; /* Kann je nach Bedarf angepasst werden */
}
.question-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.question-title, .question-text {
  min-height: 48px;
  margin-left: 20px;
}


.question-input {
  width: 60px; /* Breite des Input-Elements */
  height: 60px; /* Höhe des Input-Elements */
  color: #000; /* Textfarbe */
  font-family: 'Inter', sans-serif; /* Schriftfamilie (stellen Sie sicher, dass 'Inter' geladen ist) */
  font-size: 40px; /* Schriftgröße */
  font-weight: 800; /* Schriftgewicht */
  text-align: center; /* Zentriert den Text im Input */
  border-radius: 10%; /* Macht das Input-Element kreisförmig */
  display: flex; /* Ermöglicht die Verwendung von Flexbox-Styles */
  justify-content: center; /* Zentriert den Inhalt vertikal (funktioniert nicht immer wie erwartet mit Input-Elementen) */
  align-items: center; /* Zentriert den Inhalt horizontal */
  padding: 0; /* Entfernt den Standard-Innenabstand */
  background-color: transparent; /* Hintergrundfarbe */
  border: 3px solid #000; /* Fügt einen schwarzen Rand hinzu */
}

/* Entfernt den Spinner für Input-Typ 'number' in Webkit-Browsern */
.question-input::-webkit-inner-spin-button, 
.question-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


@media (max-width: 600px) {
  .survey-button {
    padding: 10px 2px; /* Reduziert die Polsterung auf kleineren Bildschirmen */
    font-size: 12px; /* Kleinere Schriftgröße */
    
  }
}
.survey-question {
  background-size: cover; /* Stellt sicher, dass das Bild den gesamten Container bedeckt */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
  opacity: 0.5; /* Macht das Bild transparent */

}
.umfrage{
  color: #E1372C;
 font-family: Arial;
 font-size: 110px;
 font-style: italic;
 font-weight: 10;
 line-height: normal;
 text-align: right;
 
}
.question-text{
  color: #000;
  font-family: Arial;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
}
.untertext{
  color: #000;
font-family: Arial;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom:20px;
margin-top:-60px;
}
.survey-button {
  margin: 5px;
  padding: 15px 8px;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.survey-button:hover {
  background-color: black;
  color: white; 
}

.survey-button.selected {
  background-color: black;
  color: white;
}

.submit-button {
  display: block;
  width: 340px;
  padding: 10px 0;
  margin-top: 20px;
  background-color: yellow;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
}

.submit-button:hover {
  background-color: black;
  color: white;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}
