.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  position: absolute;
  top: 20px; /* Anpassen der Position des Headers */
  left: 20px; /* Anpassen der Position des Headers */
  z-index: 1000; /* Stellen Sie sicher, dass der Header über der Karte liegt */
  color: black; /* Farbe des Header-Textes */
  font-size: 24px; /* Größe des Header-Textes */
  font-weight: bold; /* Fettschrift des Header-Textes */
  border-radius: 5px; /* Abrunden der Ecken */
  padding: 10px 20px; /* Innenabstand des Headers */
  background-color: transparent; /* Transparenter Hintergrund */
  box-shadow: none; /* Kein Schatten */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

/* sizing of map container */
.leaflet-container {
  height: 100vh;
}

.cluster-icon{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #0020c2;
  color: white;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%; /* Breite des Overlays */
  height: 100%; /* Höhe des Overlays */
  background-color: black; /* Hintergrundfarbe des Overlays */
  z-index: 1000; /* Z-Index, um sicherzustellen, dass das Overlay über allem anderen liegt */
  overflow-y: auto; /* Erlauben Sie das Scrollen, wenn der Inhalt des Overlays die Höhe überschreitet */
  padding: 20px; /* Innenabstand des Overlays */
}

.overlay-content {
  color: white; /* Farbe des Inhalts im Overlay */
  z-index: 1001;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  background-color: none;
  
}
.app-container {
  position: relative;
}

.list-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 999; /* Stellen Sie sicher, dass der Button über anderen Elementen liegt */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  position: absolute;
  top: 20px; /* Anpassen der Position des Headers */
  left: 20px; /* Anpassen der Position des Headers */
  z-index: 1000; /* Stellen Sie sicher, dass der Header über der Karte liegt */
  color: black; /* Farbe des Header-Textes */
  font-size: 24px; /* Größe des Header-Textes */
  font-weight: bold; /* Fettschrift des Header-Textes */
  border-radius: 5px; /* Abrunden der Ecken */
  padding: 10px 20px; /* Innenabstand des Headers */
  background-color: transparent; /* Transparenter Hintergrund */
  box-shadow: none; /* Kein Schatten */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
